# Auto detect text files and perform LF normalization
* text=auto
*.psd filter=lfs diff=lfs merge=lfs -text
*.nc filter=lfs diff=lfs merge=lfs -text
*.assetbundle filter=lfs diff=lfs merge=lfs -text
*.StreamingAssets filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.3dexp filter=lfs diff=lfs merge=lfs -text
